html *
{
    th {background-color: thistle; border: black solid 1px; text-align: left;
        padding-left: 10px; padding-right: 10px; vertical-align: top;}
    td {background-color: white; border: black solid 1pt; padding-left: 10px;
        padding-right: 10px; vertical-align: top;}
    table {width: 90%; border: 0px; cellpadding: 0px;}
}
#INPUT 
{
    border: none; 
    color: black;
    font-family: monospace;
    height: 1in;
    overflow: auto;
    /* padding: 0.5em; */
    width: 80%;
    background-color: #66FFCC; 
}
body { background-color: #99FFFF; }
#OUTPUT 
{
    background-color: #66FFCC; 
    width: 80%;
}
